
@import "tailwindcss";



@theme {
  --font-montserrat: var(--font-montserrat), sans-serif;
  --font-libre-baskerville: var(--font-libre-baskerville), serif;
}

body {
  box-sizing: border-box;
  font-family: var(--font-montserrat);
}